{% extends "base1.html" %}
{% block content %}
<h3>{{ order }} buyurtmasi uchun qadoqlash ma’lumotini qo‘shish yoki tahrirlash</h3><br>

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="mb-3 col-md-3">
            {{ form.packing_type.label_tag }} {{ form.packing_type }}
        </div>
        <div class="mb-3 col-md-3">
            {{ form.product_quantity.label_tag }} {{ form.product_quantity }}
        </div>
        <div class="mb-3 col-md-3">
            {{ form.box_quantity.label_tag }} {{ form.box_quantity }}
        </div>
        <div class="mb-3 col-md-3">
            {{ form.packed_date.label_tag }} {{ form.packed_date }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Saqlash</button>
    <a href="{% url 'plm:packing_list' %}" class="btn btn-secondary">Orqaga</a>
</form>
{% endblock %}
