{% extends "base1.html" %}
{% block content %}
<div class="container mt-4">
  <div class="card shadow-sm border-0">
    <div class="card-body text-center">
      <p class="fs-6 mb-3">
        <strong>{{ assigned.model_name }}</strong> modelini
        <strong>{{ assigned.line.name }}</strong> patokdan o‘chirmoqchimisiz?
      </p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">🗑️ O‘chirish</button>
        <a href="{% url 'plm:modelassigned_list' %}" class="btn btn-secondary">Bekor qilish</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
