{% extends "base1.html" %}

{% block content %}
<!-- [ Main Content ] start -->
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="page-header-title">
          <h5 class="mb-0 font-medium">Buyurtmalar ro`yhati</h5>
        </div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{ url 'plm:order_list' }">Buyurtmalar</a></li>
          <li class="breadcrumb-item" aria-current="page">Buyurtmalar ro'yhati</li>
        </ul>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
<a href="{% url 'plm:order_create' %}" class="btn btn-success mb-3"><i class="ti ti-circle-plus me-1"></i> Yangi buyurtma</a>
      <div class="pc-component">
          <div class="card shadow-sm border-0 rounded-3">
              <div class="card-body p-0">
                <table class="table table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>Id</th>
                            <th>Rasmi</th>
                            <th>Mijoz</th>
                            <th>Artikul</th>
                            <th>Miqdor</th>
                            <th>Rang</th>
                            <th>Tasdiqlash</th>
                            <th>Yuklanish vaqti</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ order.id }}</td>
                            <td>
                                {% if order.model_picture %}
                                    <img src="{{ order.model_picture.url }}" alt="Rasm" width="60" height="60">
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>{{ order.client }}</td>
                            <td><a href="{% url 'plm:order_detail' order.pk %}" class="text-primary">{{ order.artikul }}</a></td>
                            <td>{{ order.sum_order_size }}</td>
                            <td>{{ order.rangi }}</td>
                            <td>
                                {% with assigned=order.modelassigned_set.first %}
                                    {% if assigned %}
                                        <span class="badge bg-success">{{ assigned.line.name }}</span>
                                        <a href="{% url 'plm:plan_order_detail' order.id %}">
                                            <span class="badge btn-light">Rejada</span>
                                        </a>
                                    {% else %}
                                        <span class="badge bg-warning">Tasdiqlanmagan</span>
                                    {% endif %}
                                {% endwith %}
                            </td>
                            <td>{{ order.deadline|date:"d.m.Y H:i" }}</td>
                        </tr>
                        {% empty %}
                        <tr><td colspan="7" class="text-center text-muted">Buyurtmalar yo‘q</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
         </div>
    </div>


{% endblock %}
