

{% extends "base1.html" %}
{% block content %}
<h3>Tasdiqlangan Buyurtmalar uchun Dazmol qilingan modellar ro‘yxati</h3><br>

{% for order, jami_dazmol in orders_with_totals %}
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <strong>Buyurtma: <a href="{% url 'plm:order_detail' order.pk %}" class="btn btn-light rounded-5">{{ order }}</a></strong>
            <a href="{% url 'plm:ironing_add_to_order' order.id %}" class="btn btn-sm btn-success">+ Ish qo‘shish</a>
        </div>
        <div class="card-body p-0">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Soni</th>
                        <th>Sana <i class="bi bi-info-circle text-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                                   title="Dazmol qilingan sana"></i></th>
                        <th>Yaratildi <i class="bi bi-info-circle text-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                                   title="Ma'lumot kiritilgan sana"></i></th>
                        <th class=""></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.ironing.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.quantity }}</td>
                      <td><span class="badge bg-primary">{{ item.daily_work_date|date:"d.m.Y" }}</span></td>
                        <td>{{ item.created_at|date:"d.m.Y H:i" }}</td>
                        <td class="text-end">
                            <a href="{% url 'plm:ironing_update' item.pk %}" class="btn btn-sm btn-primary">
                                <i class="bi bi-pen-fill"></i>
                            </a>
                            <a href="{% url 'plm:ironing_delete' item.pk %}" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">Hozircha Dazmol qilingan ish qo‘shilmagan</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="fw-bold">
                        <td colspan="7" class="text-start">
                            Jami dazmol:    {{ jami_dazmol }}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% empty %}
    <p>Hozircha tastiqlangan buyurtmalar mavjud emas</p>
{% endfor %}
{% endblock %}
