{% extends "base1.html" %}
{% block content %}
<h3>Tasdiqlangan Buyurtmalar uchun kelgan Matolar ro‘yxati</h3><br>

{% for order in orders %}
    <div class="card mb-5">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>Buyurtma: <a href="{% url 'plm:order_detail' order.pk %}" class="btn btn-light rounded-5">{{ order }}</a></span>
            <a href="{% url 'plm:fabric_add_to_order' order.id %}" class="btn btn-sm btn-success">+ Mato qo‘shish</a>
        </div>
        <div class="card-body p-0">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mato nomi</th>
                        <th>Miqdori</th>
                        <th>Grammaj</th>
                        <th>Kelgan sana</th>
                        <th>Fabrika</th>
                        <th>Status</th>
                        <th>Amal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fabric in order.fabric_arrival.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ fabric.fabric_name }}</td>
                        <td>{{ fabric.measure_value }} {{ fabric.measure_unit }}</td>
                        <td>{{ fabric.gramaj }}</td>
                        <td>{{ fabric.arrival_date }}</td>
                        <td>{{ fabric.factory_name }}</td>
                        <td>
                            {% if fabric.is_confirmed %}
                                <span class="badge bg-success">Tasdiqlangan</span>
                            {% else %}
                                <span class="badge bg-warning text-dark">Kutilmoqda</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if not fabric.is_confirmed %}
                                <a href="{% url 'plm:fabric_confirm' fabric.pk %}" class="btn btn-success btn-sm">Tasdiqlash</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="text-center text-muted">❌ Hozircha mato kelgani yo‘q</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% empty %}
    <p>Hozircha buyurtmalar mavjud emas</p>
{% endfor %}
{% endblock %}

