{% extends "base1.html" %}
{% load custom_tags %}
{% block content %}

<div class="card">
  <div class="card-body pc-component">
    <h5 class="mb-3">Buyurtma ma'lumotlari: <a href="{% url 'plm:order_detail' order.pk %}" class="btn btn-light rounded-5">{{ order }}</a></h5>

    <!-- Tabs -->
    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#fabric" role="tab">Mato</a></li>
      <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#accessory" role="tab">Aksessuar</a></li>
      <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#cutting" role="tab">Kesim</a></li>
      <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#print" role="tab">Pechat</a></li>
      <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tasnif" role="tab">Tasnif</a></li>
      <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#stitching" role="tab">Tikim</a></li>
      <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#ironing" role="tab">Dazmol</a></li>
      <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#inspection" role="tab">Sifat nazorati</a></li>
      <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#packaging" role="tab">Qadoq</a></li>
    </ul>

    <!-- Tabs content -->
    <div class="tab-content">
      <!-- MATO -->
      <div class="tab-pane fade show active" id="fabric" role="tabpanel">
        <div class="card mb-5">
          <div class="card-header d-flex justify-content-between align-items-center">
              <span>Buyurtma:
                  <a href="{% url 'plm:order_detail' order.pk %}" class="btn btn-light rounded-5">
                      {{ order }}
                  </a>
              </span>
              <a href="{% url 'plm:fabric_add_to_order' order.id %}" class="btn btn-sm btn-success">
                  + Mato qo‘shish
              </a>
          </div>

          <div class="card-body p-0">
              <table class="table mb-0 align-middle">
                  <thead class="table-light">
                      <tr>
                          <th>#</th>
                          <th>Mato nomi</th>
                          <th>Miqdori</th>
                          <th>Grammaj</th>
                          <th>Kelgan sana</th>
                          <th>Fabrika</th>
                          <th>Status</th>
                          <th>Amal 1</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for fabric in fabrics %}
                      <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ fabric.fabric_name }}</td>
                          <td>{{ fabric.measure_value }} {{ fabric.measure_unit }}</td>
                          <td>{{ fabric.gramaj }}</td>
                          <td>{{ fabric.arrival_date|date:"d.m.Y H:i" }}</td>
                          <td>{{ fabric.factory_name }}</td>
                          <td>
                              {% if fabric.is_confirmed %}
                                  <span class="badge bg-success">Tasdiqlangan</span>
                              {% else %}
                                  <span class="badge bg-warning text-dark">Kutilmoqda</span>
                              {% endif %}
                          </td>
                          <td>
                              {% if not fabric.is_confirmed %}
                                  <a href="{% url 'plm:fabric_confirm' fabric.pk %}" class="btn btn-success btn-sm">
                                      Tasdiqlash
                                  </a>
                              {% endif %}

                              <a href="{% url 'plm:fabric_update' fabric.pk %}" class="btn btn-sm btn-primary">
                                <i class="bi bi-pen-fill"></i>
                              </a>
                              <a href="{% url 'plm:fabric_delete' fabric.pk %}" class="btn btn-sm btn-danger">
                                 <i class="bi bi-trash"></i>
                              </a>
                          </td>
                      </tr>
                      {% empty %}
                      <tr>
                          <td colspan="8" class="text-center text-muted py-4">
                              ❌ Hozircha mato kelgani yo‘q
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
        </div>
        </div>
      </div>


        <!-- AKSESSUAR -->
        <div class="tab-pane fade" id="accessory" role="tabpanel">
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <strong>Buyurtma: <a href="{% url 'plm:order_detail' order.pk %}" class="btn btn-light rounded-5">{{ order }}</a></strong>
                    <a href="{% url 'plm:accessory_add_to_order' order.id %}" class="btn btn-sm btn-success">+ Aksessuar qo‘shish</a>
                </div>
                <div class="card-body p-0">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Aksessuar nomi</th>
                                <th>Soni</th>
                                <th>Birligi</th>
                                <th>Sana</th>
                                <th>Amal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for accessory in order.accessories.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ accessory.name }}</td>
                                <td>{{ accessory.quantity }}</td>
                                <td>{{ accessory.unit }}</td>
                                <td>{{ accessory.created_at|date:"d.m.Y H:i" }}</td>
                                <td>
                                    <a href="{% url 'plm:accessory_update' accessory.pk %}" class="btn btn-sm btn-primary">
                                        <i class="bi bi-pen-fill"></i>
                                    </a>
                                    <a href="{% url 'plm:accessory_delete' accessory.pk %}" class="btn btn-sm btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">Hozircha Aksessuar qo‘shilmagan</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

      <!-- KESIM -->
      <div class="tab-pane fade" id="cutting" role="tabpanel">
          <div class="card mb-5">
            <div class="card-header d-flex justify-content-between align-items-center">
                <strong>Buyurtma: <a href="{% url 'plm:order_detail' order.pk %}" class="btn btn-light rounded-5">{{ order }}</a></strong>
                <a href="{% url 'plm:cutting_add_to_order' order.id %}" class="btn btn-sm btn-success">
                    + Pastal qo‘shish
                </a>
            </div>
            <div class="card-body p-0">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Pastal soni</th>
                            <th>O'lchami</th>
                            <th>Sana</th>
                            <th>Yangilash</th>
                            <th>Avtor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cutting in cuttings %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ cutting.pastal_soni }}</td>
                            <td>{{ cutting.pastal_olchami }}</td>
                            <td>{{ cutting.created_at|date:"d.m.Y H:i" }}</td>
                            <td>{{ cutting.updated_at|date:"d.m.Y H:i" }}</td>
                            <td>{{ cutting.author }}</td>
                            <td class="text-end">
                                <a href="{% url 'plm:cutting_update' cutting.pk %}" class="btn btn-sm btn-primary">
                                    <i class="bi bi-pen-fill"></i>
                                </a>
                                <a href="{% url 'plm:cutting_delete' cutting.pk %}" class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">Pastal qo‘shilmagan</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="fw-bold">
                            <td colspan="7" class="text-start">
                                Jami pastal: {{ jami_pastal }}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
      </div>


      <!-- PECHAT -->
      <div class="tab-pane fade" id="print" role="tabpanel">
          <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <strong>Buyurtma: <a href="{% url 'plm:order_detail' order.pk %}" class="btn btn-light rounded-5">{{ order }}</a></strong>
                    <a href="{% url 'plm:print_add_to_order' order.id %}" class="btn btn-sm btn-success">+ Ish qo‘shish</a>
                </div>
                <div class="card-body p-0">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Soni</th>
                                <th>Sana <i class="bi bi-info-circle text-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Pechat bosilgan sana"></i></th>
                                <th>Yaratildi <i class="bi bi-info-circle text-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Ma'lumot kiritilgan sana"></i></th>
                                <th class=""></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for print in order.prints.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ print.quantity }}</td>
                                <td><span class="badge bg-primary">{{ print.daily_work_date|date:"d.m.Y" }}</span></td>
                                <td>{{ print.created_at|date:"d.m.Y H:i" }}</td>
                                <td class="text-end">
                                    <a href="{% url 'plm:print_update' print.pk %}" class="btn btn-sm btn-primary">
                                        <i class="bi bi-pen-fill"></i>
                                    </a>
                                    <a href="{% url 'plm:print_delete' print.pk %}" class="btn btn-sm btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">Hozircha Pechatlik ish qo‘shilmagan</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="fw-bold">
                                <td colspan="7" class="text-start">
                                    Jami pechat:    {{ jami_pechat }}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
        </div>

      </div>

      <!-- Tasnif-->
      <div class="tab-pane fade" id="tasnif" role="tabpanel">
          Tasnif..

      </div>

        <!-- Tikim -->
      <div class="tab-pane fade" id="stitching" role="tabpanel">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                <strong>Buyurtma: <a href="{% url 'plm:order_detail' order.pk %}" class="btn btn-light rounded-5">{{ order }}</a></strong>
                <a href="{% url 'plm:stitching_add' order.id %}" class="btn btn-sm btn-success">+ Ish qo‘shish</a>
            </div>
                <div class="card-body p-0">
                    <table class="table table-bordered mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>O‘lcham</th>
                                <th>Tikilgan soni</th>
                                <th>Tikim sanasi</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ordersize in order.ordersize.all %}
                                {% for stitching in ordersize.stitchings.all %}
                                    <tr>
                                        <td>{{ forloop.parentloop.counter }}.{{ forloop.counter }}</td>
                                        <td>{{ stitching.ordersize.size }}</td>
                                        <td>{{ stitching.quantity }}</td>
                                        <td>{{ stitching.date|date:"d.m.Y" }}</td>
                                         <td class="text-center">
                                              <a href="{% url 'plm:stitching_update' stitching.pk %}" class="btn btn-sm btn-outline-primary">
                                                <i class="bi bi-pencil-square"></i>
                                              </a>
                                              <a href="{% url 'plm:stitching_delete' stitching.pk %}" class="btn btn-sm btn-outline-danger">
                                                <i class="bi bi-trash"></i>
                                              </a>
                                         </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="7" class="text-center"><span class="badge bg-primary">{{ ordersize.quantity }} - {{ ordersize.size }}</span> Bu buyurtmaga tikim ishlari qo‘shilmagan</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                          <tr class="fw-bold">
                            <td colspan="4" class="text-start">
                              {% if order_total_quantity %}
                                Jami tikilgan:
                                <span class="text-success">{{ order_total_quantity }} dona</span>
                                (
                                {% for size, qty in order_size_totals.items %}
                                  {{ size }} - {{ qty }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                )
                              {% else %}
                                <span class="text-muted">Tikilgan ma’lumot yo‘q</span>
                              {% endif %}
                            </td>
                          </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
      </div>

      <!-- Dazmol -->
      <div class="tab-pane fade" id="ironing" role="tabpanel">
           <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <strong>Buyurtma: <a href="{% url 'plm:order_detail' order.pk %}" class="btn btn-light rounded-5">{{ order }}</a></strong>
                    <a href="{% url 'plm:ironing_add_to_order' order.id %}" class="btn btn-sm btn-success">+ Ish qo‘shish</a>
                </div>
                <div class="card-body p-0">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Soni</th>
                                <th>Sana <i class="bi bi-info-circle text-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Dazmol qilingan sana"></i></th>
                                <th>Yaratildi <i class="bi bi-info-circle text-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Ma'lumot kiritilgan sana"></i></th>
                                <th class=""></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order.ironing.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.quantity }}</td>
                              <td><span class="badge bg-primary">{{ item.daily_work_date|date:"d.m.Y" }}</span></td>
                                <td>{{ item.created_at|date:"d.m.Y H:i" }}</td>
                                <td class="text-end">
                                    <a href="{% url 'plm:ironing_update' item.pk %}" class="btn btn-sm btn-primary">
                                        <i class="bi bi-pen-fill"></i>
                                    </a>
                                    <a href="{% url 'plm:ironing_delete' item.pk %}" class="btn btn-sm btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">Hozircha Dazmol qilingan ish qo‘shilmagan</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="fw-bold">
                                <td colspan="7" class="text-start">
                                    Jami dazmol:    {{ jami_dazmol }}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
      </div>


      <!-- Sifat nazorati -->
    <div class="tab-pane fade" id="inspection" role="tabpanel">
      <div class="card mb-4 shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center">
          <strong>Buyurtma:
            <a href="{% url 'plm:order_detail' order.pk %}" class="btn btn-light rounded-5">{{ order }}</a>
          </strong>
          <a href="{% url 'plm:inspection_add_to_order' order.id %}" class="btn btn-sm btn-success">
            + Ish qo‘shish
          </a>
        </div>

        <div class="card-body p-0">
          <table class="table mb-0 align-middle">
            <thead class="table-light">
              <tr>
                <th>#</th>
                <th>Umumiy tekshirilgan</th>
                <th>Sifatdan o‘tgan</th>
                <th>Sifatdan o‘tmagan</th>
                <th>O‘tgan %</th>
                <th>Tekshirilgan sana</th>
                <th>Yaratilgan</th>
                <th class="text-end">Amallar</th>
              </tr>
            </thead>
            <tbody>
              {% for inspection in inspections %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ inspection.total_checked }}</td>
                <td class="text-success fw-semibold">{{ inspection.passed_quantity }}</td>
                <td class="text-danger fw-semibold">{{ inspection.failed_quantity }}</td>
                <td>
                  <div class="progress" style="height: 15px;">
                    <div class="progress-bar bg-success"
                         role="progressbar"
                         style="width: {{ inspection.passed_percentage }}%;"
                         aria-valuenow="{{ inspection.passed_percentage }}"
                         aria-valuemin="0" aria-valuemax="100">
                      {{ inspection.passed_percentage }}%
                    </div>
                  </div>
                </td>
                <td><span class="badge bg-primary">{{ inspection.inspected_date|date:"d.m.Y" }}</span></td>
                <td>{{ inspection.created_at|date:"d.m.Y H:i" }}</td>
                <td class="text-end">
                  <a href="{% url 'plm:inspection_update' inspection.pk %}" class="btn btn-sm btn-primary">
                    <i class="bi bi-pen-fill"></i>
                  </a>
                  <a href="{% url 'plm:inspection_delete' inspection.pk %}" class="btn btn-sm btn-danger">
                    <i class="bi bi-trash"></i>
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="8" class="text-center text-muted">Hozircha sifat nazorati ma’lumoti yo‘q</td>
              </tr>
              {% endfor %}
            </tbody>

            <tfoot>
              <tr class="fw-bold">
                <td colspan="8" class="text-start ps-3">
                  Jami tekshirilgan: {{ total_checked }} |
                  Sifatdan o‘tgan: <span class="text-success">{{ total_passed }}</span> |
                  Sifatdan o‘tmagan: <span class="text-danger">{{ total_failed }}</span>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <!-- Qadoqlash -->
    <div class="tab-pane fade" id="packaging" role="tabpanel">
      <div class="card mb-3 shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center">

          <a href="{% url 'plm:packing_add_to_order' order.id %}" class="btn btn-sm btn-success text-end">
            + Qadoqlash qo‘shish
          </a>
        </div>

        <div class="card-body p-0">
          <table class="table mb-0 align-middle">
            <thead class="table-light">
              <tr>
                <th>#</th>
                <th>Qadoq turi</th>
                <th>Qadoqlangan mahsulotlar</th>
                <th>Yopilgan karopkalar</th>
                <th>Qadoqlangan sana</th>
                <th>Yaratilgan</th>
                <th class="text-end">Amallar</th>
              </tr>
            </thead>
            <tbody>
              {% for packing in packings %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><span class="badge bg-info">{{ packing.get_packing_type_display }}</span></td>
                <td class="text-success fw-semibold">{{ packing.product_quantity }}</td>
                <td class="text-primary fw-semibold">{{ packing.box_quantity }}</td>
                <td><span class="badge bg-primary">{{ packing.packed_date|date:"d.m.Y" }}</span></td>
                <td>{{ packing.created_at|date:"d.m.Y H:i" }}</td>
                <td class="text-end">
                  <a href="{% url 'plm:packing_update' packing.pk %}" class="btn btn-sm btn-primary">
                    <i class="bi bi-pencil"></i>
                  </a>
                  <a href="{% url 'plm:packing_delete' packing.pk %}" class="btn btn-sm btn-danger">
                    <i class="bi bi-trash"></i>
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="7" class="text-center text-muted py-3">
                  Hozircha qadoqlash ma’lumoti yo‘q
                </td>
              </tr>
              {% endfor %}
            </tbody>

            <tfoot>
              <tr class="fw-bold">
                <td colspan="7" class="text-start ps-3">
                  Jami qadoqlangan mahsulotlar:
                  <span class="text-success">{{ total_packed_products }}</span> |
                  Jami yopilgan karopkalar:
                  <span class="text-primary">{{ total_boxes }}</span>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>


    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const hash = window.location.hash;

      if (hash) {
        // Tab linkni href orqali qidiramiz
        const tabTrigger = document.querySelector(`a[href="${hash}"][data-bs-toggle="tab"]`);
        if (tabTrigger) {
          const tab = new bootstrap.Tab(tabTrigger);
          tab.show();
        }
      }

      // Har safar tab o‘zgarganda URL hashni yangilash
      const tabLinks = document.querySelectorAll('a[data-bs-toggle="tab"]');
      tabLinks.forEach((link) => {
        link.addEventListener("shown.bs.tab", (event) => {
          const newHash = event.target.getAttribute("href");
          history.replaceState(null, null, newHash);
        });
      });
    });
</script>



{% endblock %}
