{% extends 'base1.html' %}

{% block content %}

<!-- [ Main Content ] start -->
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="page-header-title">
          <h5 class="mb-0 font-medium">Ish turlari va narxlari</h5>
        </div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Rejalashtirish</a></li>
          <li class="breadcrumb-item" aria-current="page">Tikim narhlari</li>
        </ul>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <a href="{% url 'plm:worktype_create' %}" class="btn btn-success mb-2"><i class="ti ti-circle-plus me-1"></i>Patok qo'shish</a>
    <table class="table  table-bordered table-hover">
        <thead class="table-lighplm:t">
            <tr>
                <th>#</th>
                <th>Ish turi</th>
                <th>Narxi (so‘m/dona)</th>
            </tr>
        </thead>
        <tbody>
            {% for worktype in worktypes %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ worktype.name }}</td>
                    <td>{{ worktype.price|floatformat:0 }} so‘m</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center">Hozircha ish turlari mavjud emas</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}