{% extends 'base.html' %}

{% block title %}Bosh Saxifa {% endblock %}


{% block content %}
<h1>Bosh Saxifa</h1>
<br>
<img src="/media/images/not-found.png" alt="Nothing to show" width="auto">
<!--<iframe width="1024" height="666" src="https://www.youtube.com/embed/asaIt9pmTrY?list=PLp8HTS59FoNpySc5G81T0BodKIYsGK3r8" title="Prezident Koson tumanidagi ishlab chiqarish korxonalarini borib ko‘rdi" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>-->

{% endblock %}

