{% extends 'base1.html' %}
{% load humanize %}
{% load static %}

{% block title %}Home | Dashboard  {% endblock title %}

{% block content %}

<!-- [ Main Content ] start -->

    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="page-header-title">
          <h5 class="mb-0 font-medium">Dashboard</h5>
        </div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item" aria-current="page">Dashboard</li>
        </ul>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->

       <!-- Savdolar -->
    <div class="row justify-content">
      <div class="row gy-3">
        <div class="col-md-4  col-sm-6">
          <div class="card widget-card border-light shadow-sm">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-8">
                  <div class="card-title widget-card-title mb-3">
                    <span class="fs-5 mb-0 text-dark"><i class="fa-solid fa-chart-simple"></i> Savdo </span><span class="fs-7 mb-0 text-secondary">Bugun </span><a href="{% url 'create_payment' %}" class="text-decoration-none btn btn-sm btn-light"><i class="bi bi-plus-lg"></i></a>
                  </div>
                  <h5 class="card-subtitle text-body-secondary m-0">{{ today_income|floatformat:2|intcomma }} So'm</h5>
                </div>
                <div class="col-4">
                  <div class="d-flex justify-content-end">
                    <div class="lh-1 text-white bg-warning rounded-circle p-3 d-flex align-items-center justify-content-center">
                      <i class="bi bi-cash text-light fs-1"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">

                 <div class="col-6">
                    <div class="d-flex align-items-center mt-3">
                      <div>
                        <p class="fs-7 mb-0 text-secondary">Kecha</p>
                        <p class="fs-7 mb-0 text-success">{{ yesterday_income|floatformat:2|intcomma }}</p>
                      </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center mt-3">
                      <div>
                        <p class="fs-7 mb-0 text-secondary">{{ current_month_uz }}</p>
                        <p class="fs-7 mb-0 text-success">{{ total_income|floatformat:2|intcomma }}</p>
                      </div>
                    </div>
                  </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Income Payments -->
        <div class="col-md-4  col-sm-6">
          <div class="card widget-card border-light shadow-sm">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-8">
                  <div class="card-title widget-card-title mb-3">
                    <span class="fs-5 mb-0 text-dark"><i class="fa-solid fa-chart-simple"></i> Tushum </span><span class="fs-7 mb-0 text-secondary">Bugun </span><a href="{% url 'create_payment' %}" class="text-decoration-none btn btn-sm btn-light"><i class="bi bi-plus-lg"></i></a>
                  </div>
                  <h5 class="card-subtitle text-body-secondary m-0">{{ today_income|floatformat:2|intcomma }} So'm</h5>
                </div>
                <div class="col-4">
                  <div class="d-flex justify-content-end">
                    <div class="lh-1 text-success bg-success rounded-circle p-3 d-flex align-items-center justify-content-center">
                      <i class="bi bi-arrow-down-short text-light fs-1"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">

                 <div class="col-6">
                    <div class="d-flex align-items-center mt-3">
                      <div>
                        <p class="fs-7 mb-0 text-secondary">Kecha</p>
                        <p class="fs-7 mb-0 text-success">{{ yesterday_income|floatformat:2|intcomma }}</p>
                      </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center mt-3">
                      <div>
                        <p class="fs-7 mb-0 text-secondary">{{ current_month_uz }}</p>
                        <p class="fs-7 mb-0 text-success">{{ total_income|floatformat:2|intcomma }}</p>
                      </div>
                    </div>
                  </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Qarzdorlik -->
        <div class="col-md-4  col-sm-6">
          <div class="card widget-card border-light shadow-sm">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-8">
                  <div class="card-title widget-card-title mb-3">
                    <span class="fs-5 mb-0 text-dark"><i class="fa-solid fa-chart-simple"></i> Qarzdorlik </span>
                    <span class="fs-7 mb-0 text-secondary">Butun davr </span><a href="{% url 'create_payment' %}" class="text-decoration-none btn btn-sm btn-light"><i class="bi bi-plus-lg"></i></a>
                  </div>
                  <h5 class="card-subtitle text-body-secondary m-0">{{ today_income|floatformat:2|intcomma }} So'm</h5>
                </div>
                <div class="col-4">
                  <div class="d-flex justify-content-end">
                    <div class="lh-1 text-white bg-danger rounded-circle p-3 d-flex align-items-center justify-content-center">
                      <i class="bi bi-cash-stack text-light fs-1"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">

                 <div class="col-6">
                    <div class="d-flex align-items-center mt-3">
                      <div>
                        <p class="fs-7 mb-0 text-secondary">Bugun</p>
                        <p class="fs-7 mb-0 text-success">{{ yesterday_income|floatformat:2|intcomma }}</p>
                      </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center mt-3">
                      <div>
                        <p class="fs-7 mb-0 text-secondary">{{ current_month_uz }}</p>
                        <p class="fs-7 mb-0 text-success">{{ total_income|floatformat:2|intcomma }}</p>
                      </div>
                    </div>
                  </div>
              </div>

            </div>
          </div>
        </div>



         <!-- Xarajatlar -->
        <div class="col-md-4  col-sm-6">
          <div class="card widget-card border-light shadow-sm">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-8">
                  <div class="card-title widget-card-title mb-3">
                    <span class="fs-5 mb-0 text-dark"><i class="fa-solid fa-chart-simple"></i> Xarajat </span><span class="fs-7 mb-0 text-secondary">Bugun </span><a href="{% url 'create_payment' %}" class="text-decoration-none btn btn-sm btn-light"><i class="bi bi-plus-lg"></i></a>
                  </div>
                  <h5 class="card-subtitle text-body-secondary m-0">9,700,250.00 So'm</h5>
                </div>
                <div class="col-4">
                  <div class="d-flex justify-content-end">
                    <div class="lh-1 text-white bg-primary rounded-circle p-3 d-flex align-items-center justify-content-center">
                      <i class="bi bi-arrow-up-short text-light fs-1"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">

                 <div class="col-6">
                    <div class="d-flex align-items-center mt-3">
                      <div>
                        <p class="fs-7 mb-0 text-secondary">Kecha</p>
                        <p class="fs-7 mb-0 text-success">12,750,695.00</p>
                      </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center mt-3">
                      <div>
                        <p class="fs-7 mb-0 text-secondary">{{ current_month_uz }}</p>
                        <p class="fs-7 mb-0 text-success">224,311,500.00</p>
                      </div>
                    </div>
                  </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-8  col-sm-6"></div>
      </div>
    </div>

{% endblock %}

