<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">BunyodCore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            HR Management
         </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'add_record' %}">
                <i class="bi bi-person-plus"></i> Xodim qo`shish
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="{% url 'records' %}"> Xodimlar ro'yhati</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            SALES
         </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'contact_list' %}">
                Contacts
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="">
                Leads
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url  'account_list' %}">
                Accaunts
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="">
                Tasks
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="">
                Meetings
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="">
                Calls
              </a>
            </li>
          </ul>
        </li>

<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Analytics-->
<!--         </a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li>-->
<!--              <a class="dropdown-item" href="">-->
<!--                <i class="bi bi-plus-circle"></i> Sales-->

<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Product Management
         </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'add_product' %}">
                <i class="bi bi-plus-circle"></i> Model qo'shish
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="text-end">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.username }}
         </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'accounts:profile' user.id  %}">Profil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item " href="/logout">Logout</a></li>
          </ul>
        </li>
        </ul>
      </div>

        {% else %}
      <div class="ms-5 text-end">
        <a class="btn btn-warning" href="{% url 'accounts:signup' %}">Sign up</a>
        <a class="btn btn-outline-light me-2" href="{% url 'accounts:login' %}">Login</a>
      </div>
      {% endif %}

    </div>
  </div>
</nav>
