


{% if user.is_authenticated %}
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header flex items-center py-4 px-6 h-header-height">
      <a href="{% url 'index' %}" class="b-brand flex items-center gap-3">
        FEEZ - Fast Engineering & Execution Zone
      </a>
    </div>
    <div class="navbar-content h-[calc(100vh_-_74px)] py-2.5">
      <ul class="pc-navbar">
        <li class="pc-item pc-caption">
          <label>Home</label>
        </li>
        <li class="pc-item">
          <a href="{% url 'index' %}" class="pc-link">
            <span class="pc-micon">
              <i data-feather="home"></i>
            </span>
            <span class="pc-mtext">Bosh sahifa</span>
          </a>
        </li>
        <li class="pc-item pc-caption">
          <label>Model boshqaruvi</label>
          <i data-feather="feather"></i>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="{% url 'plm:dashboard' %}" class="pc-link">
            <span class="pc-micon"><i data-feather="activity"></i></span>
            <span class="pc-mtext">Dashboard</span>
          </a>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="{% url 'plm:order_list' %}" class="pc-link">
            <span class="pc-micon"> <i data-feather="shopping-cart"></i></span>
            <span class="pc-mtext">Buyurtma</span>
          </a>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link"><span class="pc-micon"> <i data-feather="align-right"></i> </span><span
              class="pc-mtext">Rejalashtirish</span><span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>
          <ul class="pc-submenu">

              <li class="pc-item">
                <a class="pc-link d-flex align-items-center" href="{% url 'plm:productionline_list' %}">
                  <i class="bi bi-diagram-3 me-2"></i>
                  <span>Patoklar</span>
                </a>
              </li>

              <li class="pc-item">
                <a class="pc-link d-flex align-items-center" href="{% url 'plm:modelassigned_list' %}">
                  <i class="bi bi-link-45deg me-2"></i>
                  <span>Model biriktirish</span>
                </a>
              </li>

              <li class="pc-item">
                <a class="pc-link d-flex align-items-center" href="{% url 'plm:fabric_list' %}">
                  <i class="bi bi-palette me-2"></i>
                  <span>Mato</span>
                </a>
              </li>

              <li class="pc-item">
                <a class="pc-link d-flex align-items-center" href="{% url 'plm:accessory_list' %}">
                  <i class="bi bi-bag-check me-2"></i>
                  <span>Aksessuar</span>
                </a>
              </li>

              <li class="pc-item">
                <a class="pc-link d-flex align-items-center" href="{% url 'plm:cutting_list' %}">
                  <i class="bi bi-scissors me-2"></i>
                  <span>Kesim</span>
                </a>
              </li>

              <li class="pc-item">
                <a class="pc-link d-flex align-items-center" href="{% url 'plm:print_list' %}">
                  <i class="bi bi-printer me-2"></i>
                  <span>Pechat</span>
                </a>
              </li>

              <li class="pc-item">
                <a class="pc-link d-flex align-items-center" href="{% url 'plm:classification_list' %}">
                  <i class="bi bi-diagram-2 me-2"></i>
                  <span>Tasnif</span>
                </a>
              </li>

              <li class="pc-item">
                <a class="pc-link d-flex align-items-center" href="{% url 'plm:stitching_list' %}">
                  <i class="bi bi-stack me-2"></i>
                  <span>Tikim</span>
                </a>
              </li>

              <li class="pc-item">
                <a class="pc-link d-flex align-items-center" href="{% url 'plm:ironing_list' %}">
                  <i class="bi bi-droplet-half me-2"></i>
                  <span>Dazmol</span>
                </a>
              </li>

              <li class="pc-item">
                <a class="pc-link d-flex align-items-center" href="{% url 'plm:inspection_list' %}">
                  <i class="bi bi-shield-check me-2"></i>
                  <span>Sifat nazorati</span>
                </a>
              </li>

              <li class="pc-item">
                <a class="pc-link d-flex align-items-center" href="{% url 'plm:packing_list' %}">
                  <i class="bi bi-box-seam me-2"></i>
                  <span>Qadoq</span>
                </a>
              </li>

            </ul>

        </li>
        <li class="pc-item pc-hasmenu">
          <a href="{% url 'plm:shipmentinvoice_list' %}" class="pc-link">
            <span class="pc-micon"> <i data-feather="truck"></i></span>
            <span class="pc-mtext">Yuklama</span>
          </a>
        </li>
        <li class="pc-item pc-caption">
          <label>Xodimlar</label>
          <i data-feather="feather"></i>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="{% url 'plm:employee_list' %}" class="pc-link">
            <span class="pc-micon"> <i data-feather="users"></i></span>
            <span class="pc-mtext">Xodimlar</span>
          </a>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="{% url 'plm:reglament' %}" class="pc-link">
            <span class="pc-micon"> <i class="bi bi-file-text"></i></span>
            <span class="pc-mtext">Reglament</span>
          </a>
        </li>



<!--        <li class="pc-item pc-hasmenu">-->
<!--          <a href="../elements/bc_typography.html" class="pc-link">-->
<!--            <span class="pc-micon"> <i data-feather="type"></i></span>-->
<!--            <span class="pc-mtext">Typography</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="pc-item pc-hasmenu">-->
<!--          <a href="../elements/icon-feather.html" class="pc-link">-->
<!--            <span class="pc-micon"> <i data-feather="feather"></i></span>-->
<!--            <span class="pc-mtext">Icons</span>-->
<!--          </a>-->
<!--        </li>-->

<!--        <li class="pc-item pc-caption">-->
<!--          <label>Pages</label>-->
<!--          <i data-feather="monitor"></i>-->
<!--        </li>-->
<!--        <li class="pc-item pc-hasmenu">-->
<!--          <a href="../pages/login-v1.html" class="pc-link" target="_blank">-->
<!--            <span class="pc-micon"> <i data-feather="lock"></i></span>-->
<!--            <span class="pc-mtext">Login</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="pc-item pc-hasmenu">-->
<!--          <a href="../pages/register-v1.html" class="pc-link" target="_blank">-->
<!--            <span class="pc-micon"> <i data-feather="user-plus"></i></span>-->
<!--            <span class="pc-mtext">Register</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="pc-item pc-caption">-->
<!--          <label>Other</label>-->
<!--          <i data-feather="sidebar"></i>-->
<!--        </li>-->
<!--        <li class="pc-item pc-hasmenu">-->
<!--          <a href="#!" class="pc-link"><span class="pc-micon"> <i data-feather="align-right"></i> </span><span-->
<!--              class="pc-mtext">Menu levels</span><span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>-->
<!--          <ul class="pc-submenu">-->
<!--            <li class="pc-item"><a class="pc-link" href="#!">Level 2.1</a></li>-->
<!--            <li class="pc-item pc-hasmenu">-->
<!--              <a href="#!" class="pc-link">Level 2.2<span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>-->
<!--              <ul class="pc-submenu">-->
<!--                <li class="pc-item"><a class="pc-link" href="#!">Level 3.1</a></li>-->
<!--                <li class="pc-item"><a class="pc-link" href="#!">Level 3.2</a></li>-->
<!--                <li class="pc-item pc-hasmenu">-->
<!--                  <a href="#!" class="pc-link">Level 3.3<span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>-->
<!--                  <ul class="pc-submenu">-->
<!--                    <li class="pc-item"><a class="pc-link" href="#!">Level 4.1</a></li>-->
<!--                    <li class="pc-item"><a class="pc-link" href="#!">Level 4.2</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li class="pc-item pc-hasmenu">-->
<!--              <a href="#!" class="pc-link">Level 2.3<span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>-->
<!--              <ul class="pc-submenu">-->
<!--                <li class="pc-item"><a class="pc-link" href="#!">Level 3.1</a></li>-->
<!--                <li class="pc-item"><a class="pc-link" href="#!">Level 3.2</a></li>-->
<!--                <li class="pc-item pc-hasmenu">-->
<!--                  <a href="#!" class="pc-link">Level 3.3<span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>-->
<!--                  <ul class="pc-submenu">-->
<!--                    <li class="pc-item"><a class="pc-link" href="#!">Level 4.1</a></li>-->
<!--                    <li class="pc-item"><a class="pc-link" href="#!">Level 4.2</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="pc-item">-->
<!--          <a href="../other/sample-page.html" class="pc-link">-->
<!--            <span class="pc-micon">-->
<!--              <i data-feather="sidebar"></i>-->
<!--            </span>-->
<!--            <span class="pc-mtext">Sample page</span>-->
<!--          </a>-->
<!--        </li>-->


      </ul>
    </div>
  </div>
</nav>

{% else %}
{% endif %}