{% extends 'base.html' %}

{% block title %}Xodim ma'lumotlari - {{ customer_record.first_name }} {{ customer_record.last_name }} {% endblock %}

{% block content %}


<!--<h4>XODIM MA'LUMOTLARI</h4>-->
<div class="d-flex justify-content-center align-items-center mb-4" style="">
<!--    <img class="rounded-circle" src="{{ customer_record.avatar.url " width="200px" alt="Avatar">-->
    {% if customer_record.avatar %}
        <img class="rounded-circle" src="{{ customer_record.avatar.url }}" width="200px" height="200px" alt="Avatar">
    {% else %}
        <img class="rounded-circle" src="/media/avatars/default-avatar.jpg" width="200px" height="200px" alt="Avatar">
    {% endif %}
</div>
<div>
    <!-- Accordion start -->
    <div class="accordion shadow-lg" id="accordionPanelsStayOpenExample">

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            XODIM MA'LUMOTLARI
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
              <div class="row g-2">
                  <div class="col-md-4">
                    <label class="form-label"><strong>Ismi:</strong></label>
                      {{ customer_record.first_name }}
                  </div>
                  <div class="col-md-4">
                    <label class="form-label"><strong>Ishchi ID:</strong></label>
                      EMP{{ customer_record.id }}
                  </div>
                  <div class="col-md-4 ">

                    <label class="form-label"><strong>Jinsi:</strong> </label>
                      {{ customer_record.sex }}
                  </div>
                  <div class="col-md-4">
                    <label class="form-label"><strong>Familiyasi:</strong></label>
                      {{ customer_record.last_name }}
                  </div>
                  <div class="col-md-4">
                    <label class="form-label"><strong>Otasinig ismi:</strong></label>
                      {{ customer_record.father_name }}
                  </div>
                  <div class="col-md-4">
                      <label class="form-label"><strong>Oilaviy ahvoli:</strong></label>
                      {{ customer_record.family_situation }}
                  </div>
                  <div class="col-md-4">
                    <label class="form-label"><strong>Tug'ilgan kun sanasi:</strong></label>
                      {{ customer_record.birthday }}
                  </div>
                  <div class="col-md-4">
                    <label class="form-label"><strong>Millati:</strong></label>
                    {{ customer_record.nationality }}
                  </div>
                  <div class="col-md-4">
                    <label class="form-label"><strong>Davlati:</strong></label>
                    {{ customer_record.country }}
                  </div>
                  <div class="col-md-4">
                    <label class="form-label"><strong>Manzil:</strong></label>
                    {{ customer_record.address }}
                  </div>
                  <div class="col-md-4">
                    <label class="form-label"><strong>Shahar:</strong></label>
                    {{ customer_record.city }}
                  </div>
                  <div class="col-md-4">
                    <label class="form-label"><strong>Viloyati:</strong></label>
                    {{ customer_record.state }}
                  </div>
                  <div class="col-md-4">
                    <label class="form-label"><strong>Telefoni:</strong></label>
                    {{ customer_record.phone }}
                  </div>
                  <div class="col-md-4">
                    <label class="form-label"><strong>Email:</strong></label>
                    {{ customer_record.email }}
                  </div>
                  <div class="col-md-4">
                    <label class="form-label"><strong>Zipcode:</strong></label>
                    {{ customer_record.zipcode }}
                  </div>
                  <div class="col-md-12">
                    <label class="form-label">Ma'lumot yangilangan sana:</label>
                    {{ customer_record.updated_at }}
                  </div>
              </div>

          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            BANDLIK MA'LUMOTLARI
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>Ushbu bo`lim hali mavjud emas.</strong>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            SHAXSIY IDENTIFIKATSIYA RAQAMI
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>Ushbu bo`lim hali mavjud emas.</strong>
          </div>
        </div>
      </div>

       <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
            TO`LOV USHLANMA TOIFASI JADVALI
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>Ushbu bo`lim hali mavjud emas.</strong>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
            BANK HISOB VARAG`I MA`LUMOTLARI
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>Ushbu bo`lim hali mavjud emas.</strong>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
            BIRIKTIRMALAR
          </button>
        </h2>
        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>Ushbu bo`lim hali mavjud emas.</strong>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
            BAZAVIY MA`LUMOTLAR
          </button>
        </h2>
        <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>Ushbu bo`lim hali mavjud emas.</strong>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
            ISH TAJRIBASI
          </button>
        </h2>
        <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse">
          <div class="accordion-body">
            <strong>Ushbu bo`lim hali mavjud emas.</strong>
          </div>
        </div>
      </div>

    </div><br>

    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'records' %}" class="btn btn-secondary">Orqaga</a>
            <a href="{% url 'update_record' customer_record.id %}" class="btn btn-success rounded-5 g-2">
            <i class="bi bi-pen"></i> O`zgartirish</a>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="bi bi-trash"></i>
            </button>
        </div>

        <div class="col-md-6"></div>
    </div>
</div>
<br>
<br>


<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ma`lumotlarni o`chirish</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Chindan ham ma`lumotlarni o`chirishni hohlaysizmi?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Orqaga</button>
        <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">
        <i class="bi bi-trash"></i> O`chirish
        </a>
      </div>
    </div>
  </div>
</div>



{% endblock %}