{% extends "base1.html" %}
{% block content %}
<h3>{{ order }} buyurtmasi uchun sifat nazorati ma’lumotini kiritish</h3><br>

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="mb-3 col-md-3">
            {{ form.ordersize.label_tag }}
            {{ form.ordersize }}
        </div>
        <div class="mb-3 col-md-3">
            {{ form.passed_quantity.label_tag }}
            {{ form.passed_quantity }}
        </div>
        <div class="mb-3 col-md-3">
            {{ form.failed_quantity.label_tag }}
            {{ form.failed_quantity }}
        </div>
        <div class="mb-3 col-md-3">
            {{ form.inspection_date.label_tag }}
            {{ form.inspection_date }}
        </div>
    </div>

    <div class="mb-3">
        {{ form.comment.label_tag }}
        {{ form.comment }}
    </div>

    <button type="submit" class="btn btn-primary">Saqlash</button>
    <a href="{% url 'plm:inspection_list' %}" class="btn btn-secondary">Orqaga</a>
</form>
{% endblock %}
